<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/assets/bootstrap/4.3.1/css/bootstrap.css'>
    <script src="/assets/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <title>Hello, world!</title>
</head>

<body>

<nav th:replace="headers :: navbar"></nav>


<div class="container-fluid" role="main">
    <h1>Index</h1>

    <ul>
        <li><a href="/eventbrite" >EventBrite link</a></li>
        <li><a href="/github" >Github link</a></li>
    </ul>

</div>



<footer th:replace="headers :: footer">
    <p>Copyright &copy; JUG Geneva</p>
</footer>


</body>
</html>