<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/assets/bootstrap/4.3.1/css/bootstrap.css'>
    <script src="/assets/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="/assets/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <title>Hello, world!</title>
</head>

<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Event Brit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container-fluid" role="main">
    <h1>Github</h1>

    <p>Github User</p>
    <ul>
        <li>Login : <span class="message" th:text="${guser.getValue('login')}">Login</span></li>
        <li>Id : <span class="message" th:text="${guser.getValue('id')}">id</span></li>
        <li>Avatar Url : <span class="message" th:text="${guser.getValue('avatarUrl')}">id</span></li>
    </ul>

    <p>Github Pages</p>

    <table class="table">
        <caption>Last build for the Site</caption>
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Pusher</th>
            <th scope="col">Status</th>
            <th scope="col">Error</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page : ${gpages}"  scope="row">
            <th th:text="${page.getInstant('created_at')}">Time</th>
            <th th:text="${page.getValue('pusher').getValue('login')}">Pusher</th>
            <th th:text="${page.getValue('status')}">Status</th>
            <th th:text="${page.getValue('error')}">Error</th>
        </tr>
        </tbody>
    </table>


</div>



<footer>
    <p>Copyright &copy; JUG Geneva</p>
</footer>


</body>
</html>